.fc-toolbar {
  margin-top: -1px;
}

.fc-button {
  box-shadow: none !important;
}

.fc-event-title-container {
  cursor: pointer;
}

.no-detected {
  display: none;
}

.test-day-class {
  position: relative;
}

.calendar-frame {
  margin: 50px;
  border: 20px solid #a78758;
  border-radius: 25px;
}

.custom_attend_number {
  position: absolute;
  height: 20px;
  left: 15px;
  top: 10px;
  font-size: 10px;
  color: brown;
}

.custom_edit_pen {
  position: absolute;
  height: 20px;
  left: 0;
  top: 0;
  cursor: pointer;
}

.custom_edit_pen:hover {
  height: 24px;
}
