@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.leftbtn {
  display: flex;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  box-shadow: 0px 5px 20px 2px #818181;
  animation: 3s vibration infinite both;
  position: relative;
  bottom: 0;
  transition: all 1s ease;
  background: white;
}
.leftbtn:hover {
  color: white;
  cursor: pointer;
  background: #303b53;
  bottom: 50px;
}

.leftbtn:hover .text {
  color: white;
}
.rightbtn {
  display: flex;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  box-shadow: 0px 5px 20px 2px #818181;
  animation: 3s vibration infinite both;
  position: relative;
  bottom: 0;
  transition: all 1s ease;
  background: white;
}
.rightbtn:hover {
  color: white;
  cursor: pointer;
  background: #303b53;
  bottom: 50px;
}

.rightbtn:hover .text {
  color: white;
}

.text {
  color: black;
  font-size: 6vw;
  font-weight: 1000;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

@keyframes vibration {
  0% {
    box-shadow: 0px 0px 10px 2px #818181;
  }

  50% {
    box-shadow: 0px 0px 50px 2px #818181;
  }
  0% {
    box-shadow: 0px 0px 10px 2px #818181;
  }
}
