@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.btn {
  display: flex;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  border: 3px black solid;
  text-align: center;
  align-items: center;
  box-shadow: 0px 5px 20px 2px black;
  animation: 3s vibration infinite both;
  position: relative;
  bottom: 0;
  transition: bottom 2s ease;
  background: white;
}
.btn:hover {
  color: white;
  cursor: pointer;
  background: black;
  bottom: 50px;
}

.btn:hover .text {
  color: white;
}

.text {
  color: black;
  font-size: 6vw;
  font-weight: 1000;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

@keyframes vibration {
  0% {
    box-shadow: 0px 0px 10px 2px black;
  }

  50% {
    box-shadow: 0px 0px 50px 2px black;
  }
  0% {
    box-shadow: 0px 0px 10px 2px black;
  }
}
